/******************* Universal Styles ******************/

* {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding: 0;
    text-align: center;
    margin: auto;
}


/****************** First Section / Welcome Section ********************/

.bg-image {
    background-image: url('../media/background.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: 150px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    margin: 0 25px;
}

a:hover {
    text-decoration: underline;
    text-underline-offset: 20px;
}

.welcome {
    color: #fff;
    position: relative;
    top: 25%;
    width: max-content;
}

.welcome h2 {
    font-size: 3.5rem;
    font-weight: 500;
}

.welcome p {
    font-size: 16px;
    font-weight: 700;
    padding: 20px 0;
}


/***************** About Section ********************/

.history {
    display: flex;
    margin-top: 20px;
}

.about h2 {
    font-size: 2rem;
    font-weight: 400;
    padding: 20px;
}

.history video {
    width: 45%;
}

.paragraphs {
    padding: 20px 0;
    width: 50%;
}

.paragraphs p {
    padding: 5px 0 20px;
    line-height: 1.5;
    text-align: start;
    font-size: 18px;
}

.about {
    width: 75%;
}

.about img {
    padding: 100px 0 20px;
}

.about button {
    background-color: green;
    width: 17%;
    padding: 8px;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin: 35px auto;
}

.about button:hover {
    background-color: darkgreen;
}


/***************** Duplicate Section Values ***********************/

.golf,
.football,
.swimming,
.tennis {
    display: flex;
    width: 95%;
    margin-top: 50px;
    padding: 50px 0;
}

.golf-text,
.football-text,
.swimming-text,
.tennis-text {
    width: 40%;
    padding: 25px;
}

.golf-text h2,
.football-text h2,
.swimming-text h2,
.tennis-text h2 {
    font-size: 2rem;
    font-weight: 500;
    padding: 20px;
}

.golf-text p,
.football-text p,
.swimming-text p,
.tennis-text p {
    font-size: 18px;
    line-height: 1.5;
}