/******************* Universal Styles ******************/

* {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding: 0;
    text-align: center;
    margin: auto;
}


/****************** First Section / Welcome Section ********************/

.bg-image {
    background-image: url('../media/background.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: 150px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    margin: 0 25px;
}

.nav-links a:hover {
    text-decoration: underline;
    text-underline-offset: 20px;
}

.welcome {
    color: #fff;
    position: relative;
    top: 25%;
    width: max-content;
}

.welcome h2 {
    font-size: 3.5rem;
    font-weight: 500;
}

.welcome p {
    font-size: 16px;
    font-weight: 700;
    padding: 20px 0;
}

.welcome button {
    cursor: pointer;
    margin-top: 20px;
    background: transparent;
    color: #fff;
    padding: 15px;
    border: 1px solid #fff;
    font-weight: 500;
}

.welcome button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}


/***************** About Section ********************/

.history {
    display: flex;
    margin-top: 20px;
}

.about h2 {
    font-size: 2rem;
    font-weight: 400;
    padding: 20px;
}

.history video {
    width: 45%;
}

.paragraphs {
    padding: 20px 0;
    width: 50%;
}

.paragraphs p {
    padding: 5px 0 20px;
    line-height: 1.5;
    text-align: start;
    font-size: 18px;
}

.about {
    width: 75%;
}

.about img {
    padding: 100px 0 20px;
}

.about button {
    background-color: green;
    width: 17%;
    padding: 8px;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin: 35px auto;
}

.about button:hover {
    background-color: darkgreen;
}


/***************** Duplicate Section Values ***********************/

.golf,
.football,
.swimming,
.tennis {
    display: flex;
    width: 95%;
    margin-top: 50px;
    padding: 50px 0;
}

.golf-text,
.football-text,
.swimming-text,
.tennis-text {
    width: 40%;
    padding: 25px;
}

.golf-text h2,
.football-text h2,
.swimming-text h2,
.tennis-text h2 {
    font-size: 2rem;
    font-weight: 500;
    padding: 20px;
}

.golf-text p,
.football-text p,
.swimming-text p,
.tennis-text p {
    font-size: 18px;
    line-height: 1.5;
}


/********************* Membership Section *********************/

.membership {
    background-image: url('../media/join.jpg');
    width: auto;
    background-size: cover;
    background-position: center;
    height: 40vh;
    padding: 50px 0;
    margin-bottom: 100px;
}

.membership a {
    position: relative;
    top: 45%;
    text-underline-offset: 15px;
    font-size: 2rem;
    color: #fff;
    font-weight: 500;
}

.membership a:hover {
    opacity: 0.8;
}


/*********************** Footer *********************/

footer {
    background-color: #f7f7f7;
    padding-top: 50px;
}

.footer-sections {
    display: flex;
    width: 75%;
}

footer h2,
footer h3 {
    font-weight: 500;
}

.col-1 {
    width: 30%;
    margin-left: 0;
}

.col-1 p {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    padding: 25px 0;
}

.col-2 {
    width: 20%;
}

.col-2 p,
strong {
    line-height: 1.5;
    font-size: 16px;
}

.col-2 p:nth-of-type(1),
.col-2 p:nth-of-type(4) {
    padding: 20px 0;
}

.col-2 h3 {
    padding-top: 20px;
}

.col-3 {
    width: 20%;
    margin-right: 0;
}

.col-3 h2 {
    padding-bottom: 20px;
}

footer hr {
    width: 75%;
    opacity: 0.25;
    margin: 20px auto;
}

#copyright {
    padding-bottom: 15px;
    font-weight: 300;
    font-size: 14px;
}

.gen-info a {
    font-size: 16px;
    text-decoration: none;
    color: #000;
}

.gen-info li {
    list-style: none;
    padding: 5px 0;
}

.gen-info a:hover {
    opacity: 0.7;
}


/***************** Media Queries *************************/

@media screen and (min-width: 1024px) and (max-width: 1400px) {
    /************** Welcome Section *******************/
    .nav-links a {
        font-size: .80rem;
    }
    .welcome h2 {
        font-size: 2.5rem;
    }
    .bg-image {
        background-position: center;
    }
    /*****************  About Section ************/
    .about button {
        font-size: .7rem;
        width: 23%;
    }
    .about video {
        width: 55%;
        padding-left: 50px;
    }
    .about h2 {
        font-size: 1.5rem;
    }
    .paragraphs p {
        font-size: .6rem;
    }
    /****************** Duplicate Section Value Changes ****************/
    .golf,
    .football,
    .swimming,
    .tennis {
        width: 85%;
    }
    .golf img,
    .football img,
    .swimming img,
    .tennis img {
        width: 60%;
    }
    .golf-text p,
    .football-text p,
    .swimming-text p,
    .tennis-text p {
        font-size: .75rem;
    }
    .golf-text h2,
    .football-text h2,
    .swimming-text h2,
    .tennis-text h2 {
        font-size: 1.5rem;
    }
    /***************  Footer Section ***************/
    .col-1 p,
    .col-2 p,
    .gen-info a {
        font-size: .65rem;
    }
    .footer-sections h2 {
        font-size: .85rem;
    }
    .col-2 {
        width: 25%;
    }
}